@import "tailwindcss";

@theme {
  --color-zylora-blue: #124768;
  --color-zylora-canvas: #f8fafc;
  --color-zylora-card: #ffffff;
  --color-zylora-border: #e2e8f0;
}

@utility scrollbar-none {
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}
